asgiref==3.7.2
beautiful-date==2.3.0
black==24.4.2
cachetools==5.3.3
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
crispy-bootstrap4==2023.1
cryptography==42.0.7
defusedxml==0.8.0rc2
dj-database-url==2.1.0
Django==4.2
django-crispy-forms==2.1
django-debug-toolbar==3.2.4
django-extensions==3.2.3
Faker==25.2.0
flake8==5.0.4
flake8-quotes==3.3.1
flake8-variables-names==0.0.5
google-api-core==2.19.0
google-api-python-client==2.129.0
google-auth==2.29.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.0
googleapis-common-protos==1.63.0
gunicorn==22.0.0
h11==0.14.0
httplib2==0.22.0
idna==3.7
MarkupSafe==2.1.5
mccabe==0.7.0
mypy-extensions==1.0.0
oauthlib==3.2.2
packaging==23.2
pathspec==0.12.1
pep8-naming==0.13.2
platformdirs==4.2.0
proto-plus==1.23.0
protobuf==4.25.3
psycopg2==2.9.9
pyasn1==0.6.0
pyasn1_modules==0.4.0
pycodestyle==2.9.1
pycparser==2.22
pyflakes==2.5.0
PyJWT==2.8.0
pyOpenSSL==24.1.0
pyparsing==3.1.2
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python3-openid==3.2.0
pytz-deprecation-shim==0.1.0.post0
requests==2.31.0
requests-oauthlib==2.0.0
rsa==4.9
six==1.16.0
social-auth-app-django==5.4.1
social-auth-core==4.5.4
sqlparse==0.4.4
typing_extensions==4.11.0
tzdata==2024.1
tzlocal==4.3.1
uritemplate==4.1.1
urllib3==2.2.1
uvicorn==0.29.0
Werkzeug==3.0.3
whitenoise==6.6.0
