{% extends "layouts/base.html" %}
{% block content %}
<section class="py-9">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h3 class="text-gradient text-primary mb-0 mt-2">{{ task.name }}</h3>
        <h3>{{ task.task_type }}</h3>
        <p>{{ task.description }}</p>
        <a href="{% url 'task_manager:task-delete' pk=task.id %}" class="btn bg-gradient-danger link-to-page">
          Delete
        </a>

        <a href="{% url 'task_manager:task-update' pk=task.id %}" class="btn btn-gradient-secondary link-to-page">
          Update
        </a>
        {% if user in assignees %}
          <form action="{% url 'task_manager:task-complete' pk=task.id %}" method="post">
            {% csrf_token %}
            {% if not task.is_completed %}
              <button type="submit" class="btn bg-gradient-success">Complete Task</button>
            {% else %}
              <button type="submit" class="btn bg-gradient-warning">Incomplete Task</button>
            {% endif %}
          </form>
        {% endif %}
      </div>

      <div class="col-lg-6 mt-lg-0 mt-5 ps-lg-0 ps-0">
        <div class="p-3 info-horizontal">
          <div class="icon icon-shape rounded-circle bg-gradient-primary shadow text-center">
            <i class="fas fa-ship opacity-10"></i>
          </div>
          <div class="description ps-3">
            <p class="mb-0">Priority: {{ task.priority }}</p>
          </div>
        </div>

        <div class="p-3 info-horizontal">
          <div class="icon icon-shape rounded-circle bg-gradient-primary shadow text-center">
            <i class="fas fa-handshake opacity-10"></i>
          </div>
          <div class="description ps-3">
            <p class="mb-0">Assignees:
              {% for worker in assignees %}
                {{ worker.username }} {% if not forloop.last %}, {% endif %}
              {% endfor %}
            </p>
            <p>
              {% if user in assignees %}
                <a href="{% url 'task_manager:toggle-task-assign' pk=task.id %}" class="btn btn-danger link-to-page">
                  Delete me from this task
                </a>
              {% else %}
                <a href="{% url 'task_manager:toggle-task-assign' pk=task.id %}" class="btn btn-success link-to-page">
                  Assign me to this task
                </a>
              {% endif %}

            </p>
          </div>
        </div>
        <div class="p-3 info-horizontal">
          <div class="icon icon-shape rounded-circle bg-gradient-primary shadow text-center">
            <i class="fas fa-hourglass opacity-10"></i>
          </div>
          <div class="description ps-3">
            <p class="mb-0">Deadline: {{ task.deadline }}</p>
            {% if task.is_completed %}
              <p>Task has done</p>
            {% else %}
              <p>Task has not done</p>
            {% endif %}
            <p>
              {% for tag in task.tags.all %}
                #{{ tag }} {% if not forloop.last %}, {% endif %}
              {% endfor %}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
